<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>A Forge</title>
</head>
<body>
<div class="container">
    <header>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-auth-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-auth"
                        type="button" role="tab" aria-controls="nav-auth" aria-selected="true">Авторизация
                </button>
                <button class="nav-link" id="nav-projects-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-projects"
                        type="button" role="tab" aria-controls="nav-projects" aria-selected="true">Проекты
                </button>
                <button class="nav-link" id="nav-classificators-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-classificators"
                        type="button" role="tab" aria-controls="nav-classificators" aria-selected="false">Классификатор
                </button>
                <button class="nav-link" id="nav-filters-tab" data-bs-toggle="tab" data-bs-target="#nav-filters"
                        type="button" role="tab" aria-controls="nav-filters" aria-selected="false">Фильтры
                </button>
                <button class="nav-link" id="nav-smets-tab" data-bs-toggle="tab" data-bs-target="#nav-smets"
                        type="button" role="tab" aria-controls="nav-smets" aria-selected="false">Сметы
                </button>
            </div>
        </nav>
    </header>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-auth" role="tabpanel" aria-labelledby="nav-auth-tab">
            <div class="row m-2">
                <H3>Идентификация клиента</H3>
                <div class="row m-2">
                    <div class="col-6">
                        <label for="access_token">Текущий токен:</label>
                        <textarea id="access_token" cols="130" rows="9">{{access_token}}</textarea>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-6">
                        <button type="button" id="btn_update_token">Обновить токен</button>
                    </div>
                </div>

            </div>

        </div>
        <div class="tab-pane fade" id="nav-projects" role="tabpanel" aria-labelledby="nav-projects-tab">
            <div class="row m-2">
                <H3>Проекты</H3>
                <div class="row m-2">
                    <button id="btn_get_backets">Обновить</button>
                </div>
                <div class="row m-2">
                </div>
                <div class="row m-2">
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-classificators" role="tabpanel" aria-labelledby="nav-classificators-tab">
            <p>Модель</p>
            <form>
                <p>
                    <label for="fname">Загрузите модель</label>
                    <input type="file" id="fname" name="fname"/>
                </p>
                <p>
                    <button name="btn_submit" type="submit">Отправить</button>
                </p>
            </form>
        </div>
        <div class="tab-pane fade" id="nav-filters" role="tabpanel" aria-labelledby="nav-filters-tab">
            Фильтры
        </div>
        <div class="tab-pane fade" id="nav-smets" role="tabpanel" aria-labelledby="nav-smets-tab">
            Сметы
        </div>
    </div>
    <footer>
        <div id="seconds">0</div>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
<script src="{{ js_script }}"></script>
</body>
</html>